<div class="container">
     <%= render partial: "header"%>
     <%= render partial: "holiday_form", local: true %>
     <%# <%= form_with model: @post, local: true do |f| %> 
          <%# <%= render :partial => 'holiday_form', :locals => {:f => f, :edit_flag => true} %>
     <%# <% end %> 

</div>