<div class="holiday-header">
  <div class="left-header">
    <div class="header-title">
      <%# <%= @room.name %>
      <p>グループの名前の変更と、グループ自体の消去ができる</p>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
          <%# <%= link_to "グループを編集する", edit_group_path %> %>
          
          <%= link_to "グループを新規作成する", new_group_path %>
          <%= link_to "戻る", group_index_path %>
    </div>
  </div>
</div>