/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 header {
     background-color: rgb(224, 224, 224);
 }

 .top-page-header {
     width: 100%;
     padding-top: 30px;
     font-size: 1rem;
     font-weight: bold;
     display: flex;
     /* min-width: 200px; */
     margin-bottom: 0%;
}

.header-user-name{
     color: #3c6690;
     padding-left: 5%;
     padding-right: 5%;
     /* display:block; */
}

.second-header {
     /* padding: 0 100px; */
     display: flex;
     justify-content: space-between;
     background-color: rgb(224, 224, 224);
     flex-direction: row;
     flex-wrap: wrap;
}
 body {
     background-color: #f8f8f8;
     margin: 0px;
     /* font-size: 20px; */
}

.right-header{
     padding-bottom: 10px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
}
.left-header{
     /* padding: 2.5% 0; */
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
}
.header-button > *{
     text-decoration: none;
     min-width: 8%;
     flex-basis: 25%;
     color: black;
     font-size: 30px;
     text-align: center;
     margin-right: 10px;
     padding-bottom: 10px;
}
.header-title {
     color: black;
     font-size: 24px;
     margin: 20px;
}

.header-button {
     margin: 10px;
}


.item-lists {
     width: 100vw;
     /* height: 100vw; */
}
.item-lists>.list {
     font-size: 20px;
     padding-bottom: 3vw;
     text-decoration: none;
}
.link-list  {
     padding: 3px;
     margin-left: 3%;
}
.item-name {
     font-size: 2.5vh;
}



.flex-employee-list {
     display: flex;
     padding: 20px;
     margin-bottom: 5px;
     margin-top: 10px
}
.users-user-name {
     font-size:clamp(30px, 5vw, 50px);
     padding-right: 20px;
}

.users-contents {
     font-size:clamp(20px, 4vw, 35px);
     list-style: none;
     padding-right: 5vw;
}
 
a {
     text-decoration: none;
}
/* a:hover {
     border-radius: 7px;
     background-color: gray;
     color: black;
} */
.request-table {
     margin-bottom: 30px;
     width: 100%;
     border-collapse:separate;
     border-spacing: 0;
     padding: 1%;
}

.request-table th:first-child{
     border-radius: 5px 0 0 0;
}

.request-table th:last-child{
     border-radius: 0 5px 0 0;
     border-right: 1px solid #3c6690;
}

.notice-box-img {
     height: 20px;
     width: 20px;
     /* min-height: 500px; */
     background-color: rgb(205, 202, 202);
     object-fit: contain;
}

/* users show */

.changeable-holiday {
     line-height:1;
     font-size: 30px;
     /* margin-bottom: 30px; */
     border-top: 3px solid rgb(97, 91, 91);
     /* border-bottom: 3px solid rgb(97, 91, 91); */
}

.r-holiday {
     font-size: 30px;
     /* margin-bottom: 10px; */
}
.r-holiday-btn {
     font-size: 30px;
     margin-bottom: 10px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.yes-no-btn{
     text-decoration: none;
     min-width: 8%;
     flex-basis: 25%;
     color: black;
     font-size: 20px;
     text-align: center;
     margin-right: 10px;
}
.comment-area{
     text-align: center;
     margin-bottom: 20px;
     
     justify-content: space-between;
     flex-direction: row;
     flex-wrap: wrap;
}
.content-title {
     text-align: center;
     font-weight: bold;
     font-size: 30px;
}
.comment-content {
     /* display: flex;

     display: inline-block;
     margin: 0 auto;
     font-weight: bold;
     font-size: 20px;
     justify-content: space-between;
     background-color: rgb(224, 224, 224);
     flex-direction: row;
     flex-wrap: wrap; */
}

/* user holiday */
.member-name li{
     display: inline;
     float: left;
     padding: 3%;
     font-size: 20px;
}
.member-name h3{

     font-size: 20px;
}